/* Common styles used in:
 * 3-index.html
 */

/* Body Style */
body{
	margin:0;
	padding:0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
}
