$footer-height: 60px;
/* Footer styles used in:
 * 3-index.html
 */

/* Footer Style */
footer{
	position: fixed;
	display: inline-block;
	bottom:0;
	background-color:white;
	text-align:center;
	border-top: 1px solid #CCCCCC;
	width: 100%;
	height: $footer-height;
}

/* Style for Footer's next p level. */
footer>p{
	line-height:$footer-height;
	margin:0;
}
