html(lang="en")
	head
		meta(charset='utf-8')
		title AirBnB clone
		link(rel="stylesheet" type="text/css" href="styles/4-common.css")
		link(rel="stylesheet" type="text/css" href="styles/3-header.css")
		link(rel="stylesheet" type="text/css" href="styles/6-filters.css")
		link(rel="stylesheet" type="text/css" href="styles/100-places.css")
		link(rel="stylesheet" type="text/css" href="styles/3-footer.css")
		link(rel='shortcut icon' type='image/x-icon' href='images/icon.png')
	body
		header
			h1.logo AirBnB clone
		.container
			section.filters
				button Search
				.locations
					h3 States
					h4 California, Arizona...
					ul.popover
						li
							h2 Arizona:
							ul
								li Page
								li Page2
						li
							h2 California:
							ul
								li San Francisco
								li Los Altos
				.amenities
					h3 Amenities
					h4 Internet, Kitchen...
					ul.popover
						li Internet
						li TV
						li Kitchen
						li Iron
			section.places
				h1 Places
				each val in ["Tiny Place", "My Room", "Suite"]
					article
						h2= val
						.price_by_night
							|$30
						.information
							.max_guest
								| 2 Guests
							.number_rooms
								| 1 Bedroom
							.number_bathrooms
								| 1 Bathroom
						.user
							b Owner: John Doe
						.description
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						.amenities
							h2
								|Amenities
							ul
								li.pet Pet Friendly
								li.tv TV
								li.wifi Wi-Fi
						.reviews
							h2
								|3 Reviews
							ul
								li
									h3 From Bob Dylan the 27th January 2017
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								li
									h3 From Keith Moon the 2th January 2018
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								li
									h3 From David Guilmore the 3th March 2017
									p
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

		footer
			p Holberton School
