html(lang="en")
	head
		meta(charset='utf-8')
		title AirBnB clone
		link(rel="stylesheet" type="text/css" href="styles/2-common.css")
		link(rel="stylesheet" type="text/css" href="styles/2-header.css")
		link(rel="stylesheet" type="text/css" href="styles/2-footer.css")
	body
		header
		footer
			p Holberton School
