html(lang="en")
	head
		meta(charset='utf-8')
		title AirBnB clone
		link(rel="stylesheet" type="text/css" href="styles/4-common.css")
		link(rel="stylesheet" type="text/css" href="styles/3-header.css")
		link(rel="stylesheet" type="text/css" href="styles/5-filters.css")
		link(rel="stylesheet" type="text/css" href="styles/3-footer.css")
		link(rel='shortcut icon' type='image/x-icon' href='images/icon.png')
	body
		header
			h1.logo AirBnB clone
		.container
			section.filters
				button Search
				.locations
					h3 States
					h4 California, Arizona...
				.amenities
					h3 Amenities
					h4 Internet, Kitchen...
		footer
			p Holberton School
